.container {
  display: flex;
  flex-direction: row !important;
  flex: 1;
  justify-content: center;
  max-width: 100% !important;
}

.form-container {
  width: 520px;
  display: flex;
  flex-direction: column !important;
}

.input-container {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 17px;
}
