.container {
  max-width: 720px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container input {
  width: 100%;
  padding: 7px 11px;
  margin-right: 13px;
}

.list-container {
}
